h1 {
    text-align: center;
}
.autocomplete {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    margin: auto;
}

.autocomplete ul {
    margin-top: 0px;
    padding: 0px;
    list-style-type: none;
}

.autocomplete ul input {
    color: gray;
}

.autocomplete ul input:hover {
    color: black;
}

.autocomplete p {
    margin: 0px;
    padding: 5px;
}



